<div class="login-container" ng-controller="AuthController as vm">
        <!-- Left Section -->
        <div class="login-left">
            <h2><b>LOGIN</b></h2>
            <p>Get access to your Orders, Wishlist, and Recommendations</p>
            <img src="../../../assets/images/SHUBHwatch.jpg" width="300" height="300">
        </div>
        <hr>

        <!-- Right Section -->
        <div class="login-right">
            <form ng-submit="vm.login()">
                <label>Username / Email</label>
                <input type="text" class="input-field" ng-model="vm.user.email" required>

                <label>Password</label>
                <input type="password" class="input-field" ng-model="vm.user.password" required>

                <button type="submit" class="login-btn">Login</button>
            </form>

            <p class="error-message">{{ vm.message }}</p>

            <p class="register-link">New to the site? <a href="#!/register">Create an account</a></p>
        </div>
    </div>






