<!DOCTYPE html>
<html lang="en">
<head>
 
  <title>Laptop Store</title>
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="laptopStoreApp">
  <div ng-view></div>

  
  <script src="angular.min.js"></script>
  <script src="angular-route.min.js"></script>

  
  <script src="dist/app.module.js"></script>
  <script src="dist/app.controller.js"></script>
  <script src="dist/controllers/home.controller.js"></script>
  <script src="dist/controllers/product-detail.controller.js"></script>
  <script src="dist/controllers/login.controller.js"></script>
  <script src="dist/controllers/cart.controller.js"></script>
  <script src="dist/services/laptop.service.js"></script>
  <script src="dist/services/cart.service.js"></script>
  <script src="dist/services/login.service.js"></script>
</body>
</html>
